/__pycache__
/__pycache__
widgets/__pycache__/containers_generic.cpython-310.pyc
widgets/__pycache__/containers_generic.cpython-313.pyc
/widgets/__pycache__
__pycache__/interface.cpython-313.pyc
*.log
recent_folders.json
/testes_folder
/testes_folder
*.log
/frontend/utils/__pycache__
